<ng-container *ngIf="items.length > 0">
    <div class="table-responsive">
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th class="border-0 " scope="col" [class.bg-light]="isBasket">
                        <div class="p-2 px-3 text-uppercase">
                            Products
                        </div>
                    </th>
    
                    <th class="border-0 " scope="col" [class.bg-light]="isBasket">
                        <div class="p-2 px-3 text-uppercase">
                            Price
                        </div>
                    </th>
                    <th class="border-0 " scope="col" [class.bg-light]="isBasket">
                        <div class="p-2 px-3 text-uppercase">
                            Quantity
                        </div>
                    </th>
    
                    <th class="border-0 " scope="col" [class.bg-light]="isBasket">
                        <div class="p-2 px-3 text-uppercase">
                            Total
                        </div>
                    </th>
                    <th *ngIf="isBasket" class="border-0 bg-light" scope="col">
                        <div class="p-2 px-3 text-uppercase">
                            Remove
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let hockeyStick of items">
                    <th scope="row">
                        <div class="p-0">
                            <img src="{{hockeyStick.pictureUrl}}" alt="{{hockeyStick.productName}}"
                                class="img-fluid" style="max-height: 50px;">
                            <div class="ml-3 d-inline-block align-middle">
                                <h5 class="mb-0">
                                    <a routerLink="/shop/{{hockeyStick.id || hockeyStick.productId  }}"
                                        class="text-dark">{{hockeyStick.productName}}</a>
                                </h5>
                                <span
                                    *ngIf="hockeyStick.type"
                                    class="text-muted font-weight-normal font-italic d-block">
                                    Type: {{hockeyStick.type}}
                                </span>
                            </div>
    
                        </div>
                    </th>
                    <td class="align-middle"><strong>{{hockeyStick.price | currency}}</strong></td>
                <td class="align-middle">
                    <div class="d-flex align-items-center" [class.justify-content-center]="!isBasket">
                        <i *ngIf="isBasket" (click)="decrementItemQuantity(hockeyStick)" 
                            class="fa fa-minus-circle text-success mr-2"
                            style="cursor: pointer; font-size: 2em;"> </i>
                        <span class="font-weight-bold" style="font-size: 1.5em;">
                           {{ hockeyStick.quantity }}
                        </span>
                        <i *ngIf="isBasket"  (click)="incrementItemQuantity(hockeyStick)" class="fa fa-plus-circle text-success mx-2"
                            style="cursor: pointer; font-size: 2em;"></i>
                    </div>
                </td>
                <td class="align-middle">
                    <strong>{{hockeyStick.price * hockeyStick.quantity | currency}}</strong></td>
                <td class="align-middle text-center">
                    <a class="text-danger">
                        <i *ngIf="isBasket" (click)="removeBasketItem(hockeyStick)" class="fa fa-trash" 
                            style="font-size: 2em; cursor: pointer;"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</ng-container>  
