<carousel class="mt-10">
    <slide>
        <img src="assets/images/orr.jpg" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/original_six.jpg" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/outdoors.jpg" alt="first slide" style="display: block; width: 100%;">
    </slide>
</carousel>
<section class="featured">
    <div class="container">
        <hr>
        <div class="row">
            <h1>Welcome to HockeyNET.  </h1>
            <p>We sell high quality, affordable sticks.  Try em out, you won't be dissapointed.</p>
        </div>
    </div>
   
</section>