<carousel class="mt-10">
    <slide>
        <img src="assets/images/homestick2.png" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/vintagesticks.jpg" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
        <img src="assets/images/stick-44.png" alt="first slide" style="display: block; width: 100%;">
    </slide>
</carousel>
<section class="featured">
    <div class="d-flex justify-content-center pt-4">
        <h1>Welcome to the HockeyNET!  We sell quality ice hockey sticks at an unbeatable price!</h1>
    </div>
</section>